body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #4f4322df;
    color: rgb(211, 192, 170);
}

.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-container form{
    margin-top: 10px;
}

.form-container span{
    font-size: 26px;
    color:rgb(211, 192, 170);
}

.button{
    width: 100px;
    height: 40px;
    background-color:#d5cebe;
    border: #4f4322df solid 1px;
    border-radius: 5px;
    color:#4f4322df;
    font-size: 15px;
    font-weight: bold;
}

.button:hover{
    background-color:#8d8263df;
}

.button:active{
    background-color:#beb08bdf;
}

input{
    background-color: #f2f1f0;
    border: none;
    height: 25px;
    color:#272625;
    font-size: 20px;
    margin-bottom: 20px;
}
::placeholder{
    color:rgb(204, 192, 176)
}

select{
    width: 30%;
    font-size: 16px;
}

option{
    padding: 5px;
}

textarea{
    padding: 10px;
    width: 50%;
    font-size: 16px;
    border: 1px solid #ccc;
}

.checkbox{
    width: 20px;
    height: 20px;
}
